<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/events/new']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Create Event</a>
        </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['user/profile']">Welcome John</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>